@page "/persistentcomponentstatefix1"
@inherits PersistentComponentStateFix1VM

<p>Fix 1 -> Preprocessor directives (Not implemented, need more tricks and configurations...) -> Page loads from both of Web and Maui</p>